.form-container {
  background-color: #a7bcff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .form-wrapper {
    background-color: white;
    padding: 1.25rem 3.75rem;
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    align-items: center;

    .logo {
      color: #5d5b8d;
      font-weight: bold;
      font-size: 1.5rem;
    }
    .title {
      color: #5d5b8d;
      font-size: 0.75rem;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      input {
        padding: 1rem;
        border: none;
        width: 250px;
        border-bottom: 1px solid #a7bcff;
        &::placeholder {
          color: rgb(175, 175, 175);
        }
      }

      button {
        background-color: #7b96ec;
        color: white;
        padding: 0.75rem;
        border: none;
        cursor: pointer;
      }

      #file {
        display: none;
      }

      label {
        display: flex;
        align-items: center;
        gap: 0.625rem;
        color: #8da4f1;
        font-size: 0.75rem;
        cursor: pointer;
      }
      img {
        width: 2rem;
      }
    }
    p {
      color: #5d5b8d;
      font-size: 0.75rem;
      margin-top: 0.625rem;
    }
  }
}
